@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
header
{
    width: 100%;
    height: 100vh;
    background-image: url(https://t4.ftcdn.net/jpg/00/84/76/89/240_F_84768999_pj2ZS8BULh1Q4XuAHGrUR1MM9PdFknJP.jpg);
background-repeat: no-repeat;
background-size: cover;

}
nav{
    width: 100%;
    height: 18vh;
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo
{
    margin-left: 80px;
    margin-top: 4px;
}
nav .menu
{
    display: flex;
    width:40%;
    justify-content: space-around;
}
nav .menu a
{
    color:white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
nav .menu a:first-child
{
    color: rgb(22, 217, 252);
}
main{
    height: 82vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: royalblue;

}    
/* welcome */
section h3{

    font-size: 35px;
    font-weight: 200px;
    letter-spacing: 3px;
}

section h1{
    margin: 30px 0 20px 0;
font-size: 55px;
font-weight: 700px;
text-transform: uppercase;
}
section p{
font-size: 25px;
word-spacing: 2px;
margin-bottom: 25px;
}
section a
{
padding: 12px 30px;
background-color: pink;
border-radius: 4px;
outline: none;
text-transform: uppercase;
font-size: 13px;
font-weight: 500px;
text-decoration: none;
letter-spacing: 0.7px;
transition:all 0.5s ease;
}
section .btn-1
{
    background-color:rgb(22, 217, 252);
    color: white;
}
section .btn-1:hover
{
    background-color:white;
    color:black;
}
section .btn-2
{
    background-color:white;
    color:black;
}
section .btn-2:hover
{
    background-color:rgb(22, 217, 252);
    color:white;
}
.change-content::after
{
content: "";
animation: changetext 10s infinite linear;
color:aquamarine;
}
@keyframes changetext {
0%
{
    content:"Chennai";
}
10%
{
    content:"Tiruvallur";
}
    20%{
        content:"Ranipet";
    }
30%
{
    content:"Tanjore";
}
40%
{
    content:"Kanchi";
}
50%
{
    content:"Trichy";
}
60%
{
    content:"Vellore";
}
70%
{
    content:"Erode";
}
80%
{
    content:"Kovai";
}
90%
{
    content:"Salem";
}
100%
{
    content:"Madurai";
}
}